@import url(https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}
body {
  width: 100%;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar {
  border-radius: 100px;
}

body::-webkit-scrollbar-track {
  background: rgb(227, 230, 243);
}

body::-webkit-scrollbar-thumb {
  background: rgb(34, 97, 81);
  border-radius: 10px;
}

/* Default stylings */
h1 {
  font-size: 56px;
  line-height: 64px;
  color: rgb(34, 34, 34);
}
h2 {
  font-size: 46px;
  line-height: 54px;
  color: rgb(34, 34, 34);
}

h4 {
  font-size: 20px;
  color: rgb(34, 34, 34);
}
h6 {
  font-size: 12px;
  font-weight: 700;
}

p {
  font-size: 16px;
  color: rgb(53, 70, 62);
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}
.section-m1 {
  margin: 40px 0;
}
button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}
button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: rgb(255, 255, 255);
  background-color: transparent;
  /* border-radius: 4px; */
  cursor: pointer;
  border: 1px solid white;
  outline: none;
  transition: 0.2s;
}

/* HEADER & NAVBAR */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 80px;
  background-color: rgb(227, 230, 243);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#mobile {
  display: none;
  align-items: center;
}
#close {
  display: none;
}
#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: rgb(34, 97, 81);
  transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active {
  color: rgb(54, 133, 113);
  cursor: pointer;
}
#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: rgb(54, 133, 113);
  position: absolute;
  bottom: -4px;
  left: 20px;
}

/* HOMEPAGE */
#hero {
  background-image: url(/images/hero4.png);
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0%;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

#hero h4 {
  padding-bottom: 15px;
}
#hero h1 {
  color: rgb(54, 133, 113);
}
#hero button {
  background-image: url(/images/button.png);
  border: none;
  background-color: transparent;
  color: rgb(54, 133, 113);
  padding: 14px 85px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  transition: 0.3s ease;
}

#hero button:hover {
  cursor: pointer;
  text-decoration: underline 2px solid;
  text-underline-offset: 2px;
  color: rgb(46, 112, 96);
}

/* Feature Box */
#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.04);
  border: 1px solid rgb(204, 231, 208);
  border-radius: 4px;
  margin: 15px 0px;
}
#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}

#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.1);
}

#feature .fe-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: rgb(54, 133, 113);
  background-color: rgb(253, 221, 228);
}
#feature .fe-box:nth-child(2) h6 {
  background-color: rgb(205, 235, 188);
}
#feature .fe-box:nth-child(3) h6 {
  background-color: rgb(188, 234, 235);
}
#feature .fe-box:nth-child(4) h6 {
  background-color: rgb(206, 188, 235);
}
#feature .fe-box:nth-child(5) h6 {
  background-color: rgb(235, 211, 188);
}
#feature .fe-box:nth-child(6) h6 {
  background-color: rgb(235, 188, 217);
}

#product1 {
  text-align: center;
}
#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid rgb(204, 231, 208);
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0px;
  transition: 0.2s ease;
  position: relative;
}
#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#product1 .pro img {
  width: 100%;
  border-radius: 10px;
}
#product1 .pro .des {
  text-align: start;
  pad: 10px 0px;
}
#product1 .pro .des span {
  color: rgb(96, 96, 99);
  font-size: 12px;
}
#product1 .pro .des h5 {
  padding-top: 7px;
  color: rgb(26, 26, 26);
  font-size: 14px;
}
#product1 .pro .des i {
  font-size: 12px;
  color: rgb(243, 203, 25);
}
#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: rgb(8, 129, 120);
}
#product1 .pro .cart {
  width: 25px;
  height: 25px;
  padding: 5px;
  line-height: 40px;
  border-radius: 50px;
  font-weight: 500;
  border: 1px solid rgb(204, 231, 208);
  background-color: rgb(232, 246, 234);
  color: rgb(8, 129, 120);
  position: absolute;
  bottom: 20px;
  right: 10px;
}
#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(/images/banner/b2.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}
#banner h4 {
  color: rgb(255, 255, 255);
  font-size: 16px;
}
#banner h2 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  padding: 10px 0;
}
#banner h2 span {
  color: hwb(0 4% 7%);
}

#banner button:hover {
  background-color: rgb(8, 129, 120);
  color: rgb(255, 255, 255);
}

#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;

  background-image: url(/images/banner/b17.jpg);
  min-width: 580px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.15);
}
#sm-banner .banner-box-2 {
  background-image: url(/images/banner/b10.jpg);
}

#sm-banner h4 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 400;
}
#sm-banner h2 {
  color: rgb(252, 255, 255);
  font-size: 28px;
  font-weight: 800;
}
#sm-banner span {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 15px;
}
#sm-banner .banner-box:hover button {
  background-color: rgb(8, 129, 120);
  border: 1px solid rgb(8, 129, 120);
}

#banner-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px 80px;
}
#banner-3 .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  margin-bottom: 20px;

  background-image: url(/images/banner/b7.jpg);
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.15);
}
#banner-3 .banner-box-2 {
  background-image: url(/images/banner/b4.jpg);
}
#banner-3 .banner-box-3 {
  background-image: url(/images/banner/b18.jpg);
}
#banner-3 h2 {
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-size: 22px;
}
#banner-3 h3 {
  color: rgb(187, 83, 69);
  font-weight: 800;
  font-size: 16px;
}
#newsletter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-image: url(/images/banner/b14.png);
  background-repeat: no-repeat;
  background-color: rgb(4, 30, 66);
  background-position: 20% 30%;
}
#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}
#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: rgb(129, 142, 160);
}
#newsletter p span {
  color: rgb(255, 189, 39);
}
#newsletter input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#newsletter .form {
  display: flex;
  width: 40%;
}

#newsletter button {
  background-color: rgb(8, 129, 120);
  color: white;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
#newsletter button:hover {
  cursor: pointer;
  background-color: rgb(46, 112, 96);
}
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
footer .logo {
  margin-bottom: 30px;
}
footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}
footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}
footer a {
  font-size: 13px;
  text-decoration: none;
  color: rgb(34, 34, 34);
  margin-bottom: 10px;
}

footer .follow {
  margin-top: 20px;
}
footer .follow i {
  color: rgb(70, 91, 82);
  padding-right: 4px;
  cursor: pointer;
}
footer .install .row img {
  border: 1px solid rgb(8, 129, 120);
  border-radius: 6px;
}
footer .install img {
  margin: 10px 0 15px 0;
}
footer .follow i:hover,
footer a:hover {
  color: rgb(8, 129, 120);
}
footer .copyright {
  width: 100%;
  text-align: center;
}

/* *****************SHOP PAGE*************** */
#page-header {
  background-image: url(/images/banner/b1.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 14px;
}
#page-header h2,
#page-header p {
  color: white;
}
#pagination {
  text-align: center;
}
#pagination a {
  text-decoration: none;
  background-color: rgb(8, 129, 120);
  padding: 15px 20px;
  border-radius: 4px;
  color: white;
  font-weight: 600;
}
#pagination a i {
  font-size: 20px;
  font-weight: 700;
}
/* ********************SINGLE PRODUCT********** */
#prodetails {
  display: flex;
  margin-top: 20px;
}

#prodetails .single-pro-image {
  width: 40%;
  margin-right: 50px;
}
.small-img-group {
  display: flex;
  justify-content: space-between;
}
.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}
#prodetails .single-pro-details {
  width: 50%;
  padding-top: 30px;
}

#prodetails .single-pro-details h4 {
  padding: 40px 0 20px 0;
}
#prodetails .single-pro-details h2 {
  font-size: 26px;
}
#prodetails .single-pro-details select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
  background: transparent;
  border: 1px solid rgb(8, 129, 120);
  outline: none;
  border-radius: 4px;
  color: rgb(78, 100, 90);
}
#prodetails .single-pro-details input {
  width: 50px;
  height: 48px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
  background: transparent;
  border: 1px solid rgb(8, 129, 120);
  color: rgb(78, 100, 90);

  border-radius: 4px;
}
#prodetails .single-pro-details input:focus {
  outline: none;
}
#prodetails .single-pro-details button {
  background-color: rgb(8, 129, 120);
  color: white;
  transition: 0.3s ease;
}

#prodetails .single-pro-details span {
  line-height: 25px;
  color: rgb(78, 100, 90);
}

/* *****************BLOG PAGE******** */

#page-header.blog-header {
  background-image: url(/images/banner/b19.jpg);
}
#blog {
  padding: 150px 150px 0 150px;
}

#blog .blog-box {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 90px;
}
#blog .blog-img {
  width: 50%;
  margin-right: 40px;
}
#blog img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

#blog .blog-details {
  width: 50%;
}
#blog .blog-details a {
  text-decoration: none;
  font-size: 14px;
  color: rgb(34, 97, 81);
  font-weight: 700;
  transition: 0.3s;
}
#blog .blog-box a:hover {
  text-decoration: underline solid 2px;
  text-underline-offset: 3px;
  color: rgb(78, 143, 126);
}
#blog .blog-box h1 {
  position: absolute;
  top: -40px;
  left: 0px;
  font-weight: 700;
  font-size: 70px;
  color: rgb(201, 203, 206);
  z-index: -9;
}

/* ************ABOUT PAGE************* */
#page-header .about-header {
  background-image: url(/images/about/banner.png);
}
#about-head {
  display: flex;
  align-items: center;
}
#about-head img {
  width: 50%;
  height: auto;
}
#about-head div {
  padding-left: 40px;
}
#about-app {
  text-align: center;
}

#about-app .video {
  width: 70%;
  height: 100%;
  margin: 30px auto 0 auto;
}
#about-app .video video {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

/* ***********Contact page*******  */

#contact-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#contact-details .details {
  width: 40%;
}
#contact-details .details span,
#form-details form span {
  font-size: 12px;
}
#contact-details .details h2,
#form-details form h2 {
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;
}
#contact-details .details h3 {
  font-size: 16px;
  padding-bottom: 15px;
}
#contact-details .details li {
  list-style: none;
  display: flex;
  padding: 10px 0;
}
#contact-details .details li i {
  font-size: 14px;
  padding-right: 22px;
}
#contact-details .details li p {
  margin: 0;
  font-size: 14px;
}
#contact-details .map {
  width: 55%;
  height: 400px;
}
#contact-details .map iframe {
  width: 100%;
  height: 100%;
}
#form-details {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding: 80px;
  border: 1px solid rgb(225, 225, 225);
}

#form-details form {
  width: 65%;
  display: flex;
  flex-direction: column;
}
#form-details form span {
  font-size: 14px;
}

#form-details form input,
#form-details form textarea {
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 4px;
}
#form-details form input {
  height: 32px;
}
#form-details form label {
  margin-bottom: 5px;
  font-size: 16px;
}
#form-details form button {
  width: fit-content;
  background-color: rgb(8, 129, 120);
  color: white;
}
#form-details form button:hover {
  background-color: rgb(46, 112, 96);
}

#form-details .people div {
  padding-bottom: 25px;
  display: flex;
  align-items: flex-start;
}
#form-details .people div img {
  width: 65px;
  height: 65px;
  object-fit: cover;
  margin-right: 15px;
}
#form-details .people div p {
  margin: 0;
  font-size: 13px;
  line-height: 25px;
}
#form-details .people div p span {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: black;
}

/* ************CART********************** */
#cart {
  overflow-x: auto;
}
#cart table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}
#cart table img {
  width: 70px;
}
#cart table td:nth-child(1) {
  width: 100px;
  text-align: center;
}
#cart table td:nth-child(2) {
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(3) {
  width: 100px;
  text-align: center;
}
#cart table td:nth-child(4) {
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(5) input {
  width: 70px;
  padding: 10px 5px 10px 15px;
}
#cart table thead {
  border: 1px solid rgb(226, 233, 225);
  border-left: none;
  border-right: none;
}
#cart table thead td {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0;
}
#cart table tbody tr td {
  padding-top: 15px;
}
#cart table tbody td {
  font-size: 13px;
  font-weight: 500;
}

#cart-add {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#coupon {
  width: 50%;
  margin-bottom: 30px;
}
#coupon h3,
#subtotal h3 {
  padding-bottom: 15px;
}
#coupon input {
  padding: 10px 20px;
  outline: none;
  width: 60%;
  margin-right: 10px;
  border: 1px solid rgb(226, 233, 225);
}
#coupon button,
#subtotal button {
  background-color: rgb(8, 129, 120);
  color: white;
  padding: 10px 18px;
}
#coupon button:hover,
#subtotal button:hover {
  background-color: rgb(46, 112, 96);
}

#subtotal {
  width: 50%;
  margin-bottom: 30px;
  border: 1px solid rgb(226, 233, 225);
  padding: 30px;
}

#subtotal table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}
#subtotal table td {
  width: 50%;
  border: 1px solid rgb(226, 233, 225);
  padding: 10px;
  font-size: 14px;
}
/* ************************************************** */
/* Responsiveness */

@media (max-width: 799px) {
  .section-p1 {
    padding: 40px 40px;
  }
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: rgb(227, 230, 243);
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.15);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }
  #navbar.active {
    right: 0;
  }

  #navbar li {
    margin-bottom: 25px;
  }
  #mobile {
    display: flex;
    align-items: center;
    color: rgb(34, 97, 81);
    cursor: pointer;
  }
  #mobile i {
    color: rgb(34, 97, 81);
    font-size: 24px;
    padding-left: 20px;
  }

  #close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 24px;
    color: rgb(34, 97, 81);
  }
  #lg-bag {
    display: none;
  }
  #hero {
    height: 70vh;

    padding: 0 80px;
    background-position: top 30% right 30%;
  }
  #feature {
    justify-content: center;
  }
  #feature .fe-box {
    margin: 15px;
  }
  #product1 .pro-container {
    justify-content: center;
  }
  #product1 .pro {
    margin: 15px;
  }

  #banner {
    height: 30vh;
  }
  #sm-banner .banner-box {
    min-width: 100%;
    height: 50vh;
  }
  #banner-3 {
    padding: 40px;
  }

  #banner-3 .banner-box {
    width: 32%;
    height: 35vh;
  }
  #newsletter .form {
    width: 70%;
  }
  /* ***********Contact page responsivness*******  */
  #form-details {
    padding: 40px;
  }
  #form-details form {
    width: 50%;
  }
}

/* *******************Media query for small devices********* */

@media (max-width: 477px) {
  #header {
    padding: 10px 30px;
  }
  .section-p1 {
    padding: 20px;
  }
  h2 {
    font-size: 32px;
  }
  h1 {
    font-size: 38px;
  }
  #hero {
    padding: 0 20px;
    background-position: 55%;
  }
  #feature {
    justify-content: space-between;
  }
  #feature .fe-box {
    width: 155px;
    margin: 0 0 15px 0;
  }
  #product1 {
    width: 100%;
  }
  #banner {
    height: 40vh;
  }
  #sm-banner .banner-box {
    height: 40vh;
  }
  #sm-banner .banner-box-2 {
    margin-top: 20px;
  }
  #banner-3 {
    padding: 0 20px;
  }
  #banner-3 .banner-box {
    width: 100%;
  }
  #newsletter {
    padding: 40px 20px;
  }
  #newsletter .form {
    width: 100%;
  }
  footer .copyright {
    text-align: start;
  }

  /* responsiveness for sproduct */
  #prodetails {
    display: flex;
    flex-direction: column;
  }
  #prodetails .single-pro-image {
    width: 100%;
    margin-right: 0px;
  }
  #prodetails .single-pro-details {
    width: 100%;
  }

  /* responsiveness for blog */
  #blog {
    padding: 100px 20px 0 20px;
  }
  #blog .blog-box {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  #blog .blog-img {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 30px;
  }
  #blog .blog-details {
    width: 100%;
  }
  /* responsiveness for About us page */
  #about-head {
    flex-direction: column;
  }
  #about-head img {
    width: 100%;
    margin-bottom: 20px;
  }
  #about-head div {
    padding-left: 0px;
  }
  #about-app .video {
    width: 100%;
  }
  /* ***********Contact page responsivness*******  */
  #contact-details {
    flex-direction: column;
  }
  #contact-details .details {
    width: 100%;
    margin-bottom: 30px;
  }
  #contact-details .map {
    width: 100%;
  }
  #form-details {
    margin: 10px;
    padding: 30px 10px;
    flex-wrap: wrap;
  }
  #form-details form {
    width: 100%;
    margin-bottom: 30px;
  }
  /* Cart page Responsiveness  */

  #cart-add {
    flex-direction: column;
  }
  #coupon {
    width: 100%;
  }
  #subtotal {
    width: 100%;
    padding: 20px;
  }
}
